
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: "Microsoft YaHei";
  font-size: 16px;
}
.index-wrapper {
  height: 100%;
  width: 100%;
}
.head-animate:hover{
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: .12s;
  animation-duration: .12s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  animation-iteration-count: 4;
}
@keyframes move{
  0%{
    -webkit-transform:translateX(-2px);
    transform: translateX(-2px);
  }
  100%{
    -webkit-transform:translateX(2px);
    transform:translate(2px);
  }
}

@media screen and (min-width: 720px) {
  .nav-header {

  }
  .head-animate{
    border-radius: 50%;
    transform: translateZ(0);
    margin-left: 12.5em;
    z-index: 1;
  }
  .nav-blog {
    background-color: cornflowerblue;
    width: 90%;
    height: 3.125em;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
  }
  .navigation li {
    list-style-type: none;
    margin: 0.9375em;
  }
  .navigation li a:hover {
    color: #C2C2C2;
  }
  .navigation li a {
    color: white;
    text-decoration: none;
  }
  .content-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 720px) {
  .nav-header {
    margin-top: 1.2em;
  }
  .head-animate{
    border-radius: 50%;
    transform: translateZ(0);
    margin-left: 6.25em;
    z-index: 1;
  }
  .nav-blog {
    background-color: cornflowerblue;
    width: 90%;
    height: 3.125em;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
  }
  .navigation li {
    list-style-type: none;
    margin: 0.8em;
  }
  .navigation li a:hover {
    color: #C2C2C2;
  }
  .navigation li a {
    color: white;
    text-decoration: none;
  }
  .content-wrapper {
    width: 100%;
  }
}
